.existingUserButton {
  font-family: Poppins;
  font-size: 36;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #181818;
  text-decoration: none;
  padding: 20px;
}

.addAvatarText {
    font-family: Poppins;
    font-size: 24;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0.03em;
    text-align: center;
  }
  