body {
  padding: 70px;
  background: #ffffff;
}

.mainTitle {
  font-family: Poppins;
  font-size: 50px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0.03em;
  text-align: center;
}

.secondaryTitle {
  font-family: Poppins;
  font-size: 25px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.03em;
  text-align: center;
}

