body {
  background: #ffffff;
}

@font-face {
  font-family: "Poppins";
  src: local("Poppins"), url(./fonts/Poppins-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "CreditCard";
  src: local("CreditCard"), url(./fonts/CREDC___.ttf) format("truetype");
}

input[type="date"]::-webkit-calendar-picker-indicator {
  background: transparent;
  bottom: 0;
  color: transparent;
  cursor: pointer;
  height: auto;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: auto;
}

button[type="submit"] {
  position: relative;
  background: #f50057;
  color: white;
  border: none;
  margin-top: 20px;
  padding: 20px;
  display: block;
  appearance: none;
  border-radius: 15px;
  transition: 0.3s all;
  cursor: pointer;
  font-family: Poppins;
  font-size: 20px;
  font-weight: bold;
  line-height: 21px;
  letter-spacing: 0.1em;
  text-align: center;
}

button[type="submit"]:hover {
  background: #d6044e;
}

.ag-theme-quartz,
.ag-theme-quartz-dark {
  --ag-foreground-color: #000000;
  --ag-border-color:white;
  --ag-background-color: white;
  --ag-header-background-color: #ffffff;
  --ag-header-column-resize-handle-color: transparent;
  --ag-font-size: 17px;
  --ag-font-family:Poppins;
}